[submodule "app/src/main/cpp/love"]
	path = app/src/main/cpp/love
	url = https://github.com/love2d/love
	branch = main
[submodule "app/src/main/cpp/megasource"]
	path = app/src/main/cpp/megasource
	url = https://github.com/love2d/megasource
	branch = main
[submodule "love/src/jni/lua_modules/lua-https"]
	path = love/src/jni/lua_modules/lua-https
	url = https://github.com/love2d/lua-https
	branch = main
